<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Multiple Test Cases Execution">
        <classes>
            <class name="ex_05_TestAssertion.Lab25_TestAssertion"/>
        </classes>
    </test>
</suite>
